/* start section topbar */
* {
  box-sizing: border-box;
}

.topbar {
  padding-bottom: 30px;
  padding-top: 30px;
}
@media (max-width: 575.98px) {
  .topbar .logo {
    text-align: center;
  }
}
@media (max-width: 767.98px) {
  .topbar .logo {
    text-align: center;
  }
}
.topbar .search form div i {
  position: absolute;
  color: #6c757d;
  font-size: 22px;
  line-height: 60px;
  padding-left: 10px;
}
.topbar .search form div input {
  height: 60px;
  border-radius: 0px;
  border-width: 2px;
  padding-left: 40px;
}
.topbar .search form div input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #e65d25;
  box-shadow: none;
}
.topbar .ads {
  display: flex;
}
.topbar .ads .info {
  padding-left: 25px;
  padding-top: 20px;
}
.topbar .ads .info h4 {
  color: #e65d25;
}
.topbar .ads .info p span {
  color: #e65d25;
}

/* end section topbar */
/* start section navbar */
.homeNavbar .allCategories {
  background-color: #e65d25;
  display: flex;
  color: #FFF;
  border-radius: 5px;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
}
.homeNavbar .allCategories .droptbn {
  background-color: #e65d25;
  border-radius: 5px;
  border: none;
  color: #FFF;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.homeNavbar .allCategories .droptbn p:first-of-type {
  padding-left: 10px;
}
.homeNavbar .allCategories .droptbn p:last-of-type {
  padding-right: 10px;
}
.homeNavbar .allCategories .allCategoriesContent {
  border: 2px solid #e65d25;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: absolute;
  z-index: 9999;
  padding: 20px 0 20px 10px;
  background-color: #FFFF;
  width: 100%;
  top: 60px;
  display: none;
  color: #000;
}
.homeNavbar .allCategories .allCategoriesContent ul li {
  line-height: 2;
}
.homeNavbar .allCategories .allCategoriesContent ul li:hover {
  color: #e65d25;
}
.homeNavbar .allCategories:hover .allCategoriesContent {
  display: block;
}
.homeNavbar .allCategories:hover .allCategoriesContent .droptbn {
  width: 100%;
}
.homeNavbar .navbar {
  font-weight: bold;
}
.homeNavbar .navbar .navbar-nav .nav-item.active .nav-link {
  color: #e65d25;
}
.homeNavbar .navbar .navbar-nav .nav-item .nav-link {
  color: #000;
}
.homeNavbar .navbar .navbar-nav .nav-item .nav-link:hover {
  color: #e65d25;
}
@media (max-width: 575.98px) {
  .homeNavbar .navbar {
    text-align: center;
  }
  .homeNavbar .navbar .navbar-toggler {
    margin: auto;
  }
}
@media (max-width: 767.98px) {
  .homeNavbar .navbar {
    text-align: center;
  }
  .homeNavbar .navbar .navbar-toggler {
    margin: auto;
  }
}
.homeNavbar .user {
  display: flex;
  height: 50px;
  line-height: 55px;
}
.homeNavbar .user .profile {
  margin-right: 5px;
  cursor: pointer;
}
.homeNavbar .user .profile:hover .homeLogin {
  display: block;
}
.homeNavbar .user .profile:hover .homeLogin .droptbn {
  width: 100%;
}
.homeNavbar .user .homeLogin {
  border-top: 2px solid #e65d25;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: absolute;
  z-index: 9999;
  padding: 10px 10px 20px 10px;
  background-color: #FFFF;
  width: 250px;
  right: -120px;
  top: 45px;
  display: none;
  color: #000;
}
.homeNavbar .user .homeLogin .headerlogin {
  display: flex;
  justify-content: space-between;
}
.homeNavbar .user .homeLogin .headerlogin .signin h6, .homeNavbar .user .homeLogin .headerlogin .create h6 {
  font-size: 14px;
  font-weight: normal;
}
.homeNavbar .user .homeLogin .headerlogin .create h6 {
  color: #e65d25;
}
.homeNavbar .user .homeLogin form .form-group {
  margin-bottom: 0px;
}
.homeNavbar .user .homeLogin form .form-group label {
  margin-bottom: 0px;
  font-weight: normal;
  color: #DDD;
}
.homeNavbar .user .homeLogin form input[type="submit"] {
  background-color: #e65d25;
  color: #FFF;
  margin-top: 30px;
}
.homeNavbar .user .basket {
  margin-left: 5px;
  position: relative;
  cursor: pointer;
}
.homeNavbar .user .basket:hover .basketempty {
  display: block;
}
.homeNavbar .user .basket:hover .basketempty .droptbn {
  width: 100%;
}
.homeNavbar .user .basket .count {
  position: absolute;
  background-color: #e65d25;
  color: #FFF;
  border-radius: 50%;
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  left: 15px;
  top: 5px;
}
.homeNavbar .user .basket .basketempty {
  border-top: 2px solid #e65d25;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: absolute;
  z-index: 9999;
  padding: 10px 10px 20px 10px;
  background-color: #FFFF;
  width: 240px;
  right: -90px;
  top: 45px;
  display: none;
  color: #000;
  text-align: center;
}
.homeNavbar .user .basket .basketempty .Union_1 {
  width: 28.249px;
  height: 28.249px;
}
.homeNavbar .user .basket .basketempty .basketfull .header {
  text-align: right;
}
.homeNavbar .user .basket .basketempty .basketfull .product .content p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 0px;
}
.homeNavbar .user .basket .basketempty .basketfull .product .content span {
  color: #DDD;
}
.homeNavbar .user .basket .basketempty .basketfull .product .remove .Union_2 {
  width: 6px;
  height: 6px;
}
.homeNavbar .user .basket .basketempty .basketfull button {
  background-color: #e65d25;
  color: #FFF;
}
@media (max-width: 575.98px) {
  .homeNavbar .user {
    justify-content: center;
  }
}
@media (max-width: 767.98px) {
  .homeNavbar .user {
    justify-content: center;
  }
}

/* end section navbar */
/* start section header */
.aboutheader {
  background-color: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* end section header */
/* start section about us */
.about {
  padding-bottom: 50px;
  padding-top: 50px;
}
.about .info h3 {
  color: #e65d25;
}
.about .info span {
  color: #e65d25;
}
.about .info p {
  font-weight: bold;
  color: #8b8b8b;
}
.about .info ul li {
  font-weight: bold;
  color: #8b8b8b;
  margin-bottom: 20px;
}
.about .info ul li:last-of-type {
  margin-bottom: 0;
}
.about .info ul li i {
  font-size: 29px;
  color: #e65d25;
  margin-right: 20px;
}

/* end section about us */
/* start section services */
.servicesabout {
  background-image: url("../images/about/Services_Background.png");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
  position: relative;
}
.servicesabout .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.servicesabout .serviceabout {
  margin-bottom: 30px;
}
.servicesabout .serviceabout .shape {
  border: 6px solid #FFF;
  display: inline-block;
  padding: 20px;
  transform: rotate(45deg);
  margin-bottom: 30px;
}
.servicesabout .serviceabout .shape i {
  transform: rotate(-45deg);
  color: #e65d25;
}
.servicesabout .serviceabout h4 {
  color: #FFF;
}
.servicesabout .serviceabout p {
  color: #FFF;
  line-height: 1.7;
}

/* end section services */
/* start section contact */
.contactabout {
  background-color: #f5f5f5;
}
.contactabout .map div {
  max-width: 100%;
}
.contactabout .form {
  padding-top: 70px;
  padding-bottom: 70px;
}
.contactabout .form form {
  margin-top: 50px;
}
.contactabout .form form input[type="submit"] {
  background-color: #e65d25;
  color: #FFF;
  width: 150px;
  height: 70px;
  border-radius: 10px;
}
.contactabout .form form textarea {
  height: 200px;
}

/* end section contact */
/* start section footer */
.footer {
  background-color: #efedf2;
  padding-bottom: 50px;
  padding-top: 50px;
}
.footer .brands {
  padding-bottom: 50px;
}
.footer hr {
  border-top-color: #DDD;
  border-top-width: 2px;
}
.footer .ultmateFooter {
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer .ultmateFooter .about-us p {
  color: #505050;
}
.footer .ultmateFooter .categories ul {
  padding-left: 20px;
}
.footer .ultmateFooter .categories ul li {
  color: #666;
  line-height: 2;
  cursor: pointer;
}
.footer .ultmateFooter .account ul {
  padding-left: 20px;
}
.footer .ultmateFooter .account ul li {
  color: #666;
  line-height: 2;
  cursor: pointer;
}
.footer .ultmateFooter .quickLinks ul {
  padding-left: 20px;
}
.footer .ultmateFooter .quickLinks ul li {
  color: #666;
  line-height: 2;
  cursor: pointer;
}
.footer .social {
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer .social .icon i {
  padding-right: 20px;
}
.footer .social .icon i:last-of-type {
  padding-right: 0px;
}
.footer .social .links ul {
  text-align: right;
}
.footer .social .links ul li {
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}
.footer .social .links ul li:after {
  content: "|";
  padding-left: 7px;
}
.footer .social .links ul li:last-of-type:after {
  content: "";
  padding-left: 0;
}
.footer .copyright {
  padding-top: 50px;
}

@media (max-width: 575.98px) {
  .footer {
    text-align: center;
  }
  .footer .brands .image {
    margin-bottom: 20px;
  }
  .footer ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    text-align: center;
  }
  .footer .social .links {
    margin-top: 20px;
  }
  .footer .social .links ul {
    text-align: center;
  }
  .footer .social .links ul li {
    display: block;
  }
  .footer .social .links ul li:after {
    content: "";
  }
}
@media (max-width: 767.98px) {
  .footer {
    text-align: center;
  }
  .footer .brands .image {
    margin-bottom: 20px;
  }
  .footer ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    text-align: center;
  }
  .footer .social .links {
    margin-top: 20px;
  }
  .footer .social .links ul {
    text-align: center;
  }
  .footer .social .links ul li {
    display: block;
  }
  .footer .social .links ul li:after {
    content: "";
  }
}
@media (max-width: 991.98px) {
  .footer {
    text-align: center;
  }
  .footer .brands .image {
    margin-bottom: 20px;
  }
}
/* end section footer */

/*# sourceMappingURL=about.css.map */
