/* start section topbar */
* {
  box-sizing: border-box;
}

.topbar {
  padding-bottom: 30px;
  padding-top: 30px;
}
@media (max-width: 575.98px) {
  .topbar .logo {
    text-align: center;
  }
}
@media (max-width: 767.98px) {
  .topbar .logo {
    text-align: center;
  }
}
.topbar .search form div i {
  position: absolute;
  color: #6c757d;
  font-size: 22px;
  line-height: 60px;
  padding-left: 10px;
}
.topbar .search form div input {
  height: 60px;
  border-radius: 0px;
  border-width: 2px;
  padding-left: 40px;
}
.topbar .search form div input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #e65d25;
  box-shadow: none;
}
.topbar .ads {
  display: flex;
}
.topbar .ads .info {
  padding-left: 25px;
  padding-top: 20px;
}
.topbar .ads .info h4 {
  color: #e65d25;
}
.topbar .ads .info p span {
  color: #e65d25;
}

/* end section topbar */
/* start section navbar */
.homeNavbar .allCategories {
  background-color: #e65d25;
  display: flex;
  color: #FFF;
  border-radius: 5px;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
}
.homeNavbar .allCategories .droptbn {
  background-color: #e65d25;
  border-radius: 5px;
  border: none;
  color: #FFF;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.homeNavbar .allCategories .droptbn p:first-of-type {
  padding-left: 10px;
}
.homeNavbar .allCategories .droptbn p:last-of-type {
  padding-right: 10px;
}
.homeNavbar .allCategories .allCategoriesContent {
  border: 2px solid #e65d25;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: absolute;
  z-index: 9999;
  padding: 20px 0 20px 10px;
  background-color: #FFFF;
  width: 100%;
  top: 60px;
  display: none;
  color: #000;
}
.homeNavbar .allCategories .allCategoriesContent ul li {
  line-height: 2;
}
.homeNavbar .allCategories .allCategoriesContent ul li:hover {
  color: #e65d25;
}
.homeNavbar .allCategories:hover .allCategoriesContent {
  display: block;
}
.homeNavbar .allCategories:hover .allCategoriesContent .droptbn {
  width: 100%;
}
.homeNavbar .navbar {
  font-weight: bold;
}
.homeNavbar .navbar .navbar-nav .nav-item.active .nav-link {
  color: #e65d25;
}
.homeNavbar .navbar .navbar-nav .nav-item .nav-link {
  color: #000;
}
.homeNavbar .navbar .navbar-nav .nav-item .nav-link:hover {
  color: #e65d25;
}
@media (max-width: 575.98px) {
  .homeNavbar .navbar {
    text-align: center;
  }
  .homeNavbar .navbar .navbar-toggler {
    margin: auto;
  }
}
@media (max-width: 767.98px) {
  .homeNavbar .navbar {
    text-align: center;
  }
  .homeNavbar .navbar .navbar-toggler {
    margin: auto;
  }
}
.homeNavbar .user {
  display: flex;
  height: 50px;
  line-height: 55px;
}
.homeNavbar .user .profile {
  margin-right: 5px;
  cursor: pointer;
}
.homeNavbar .user .profile:hover .homeLogin {
  display: block;
}
.homeNavbar .user .profile:hover .homeLogin .droptbn {
  width: 100%;
}
.homeNavbar .user .homeLogin {
  border-top: 2px solid #e65d25;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: absolute;
  z-index: 9999;
  padding: 10px 10px 20px 10px;
  background-color: #FFFF;
  width: 250px;
  right: -120px;
  top: 45px;
  display: none;
  color: #000;
}
.homeNavbar .user .homeLogin .headerlogin {
  display: flex;
  justify-content: space-between;
}
.homeNavbar .user .homeLogin .headerlogin .signin h6, .homeNavbar .user .homeLogin .headerlogin .create h6 {
  font-size: 14px;
  font-weight: normal;
}
.homeNavbar .user .homeLogin .headerlogin .create h6 {
  color: #e65d25;
}
.homeNavbar .user .homeLogin form .form-group {
  margin-bottom: 0px;
}
.homeNavbar .user .homeLogin form .form-group label {
  margin-bottom: 0px;
  font-weight: normal;
  color: #DDD;
}
.homeNavbar .user .homeLogin form input[type="submit"] {
  background-color: #e65d25;
  color: #FFF;
  margin-top: 30px;
}
.homeNavbar .user .basket {
  margin-left: 5px;
  position: relative;
  cursor: pointer;
}
.homeNavbar .user .basket:hover .basketempty {
  display: block;
}
.homeNavbar .user .basket:hover .basketempty .droptbn {
  width: 100%;
}
.homeNavbar .user .basket .count {
  position: absolute;
  background-color: #e65d25;
  color: #FFF;
  border-radius: 50%;
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  left: 15px;
  top: 5px;
}
.homeNavbar .user .basket .basketempty {
  border-top: 2px solid #e65d25;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: absolute;
  z-index: 9999;
  padding: 10px 10px 20px 10px;
  background-color: #FFFF;
  width: 240px;
  right: -90px;
  top: 45px;
  display: none;
  color: #000;
  text-align: center;
}
.homeNavbar .user .basket .basketempty .Union_1 {
  width: 28.249px;
  height: 28.249px;
}
.homeNavbar .user .basket .basketempty .basketfull .header {
  text-align: right;
}
.homeNavbar .user .basket .basketempty .basketfull .product .content p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 0px;
}
.homeNavbar .user .basket .basketempty .basketfull .product .content span {
  color: #DDD;
}
.homeNavbar .user .basket .basketempty .basketfull .product .remove .Union_2 {
  width: 6px;
  height: 6px;
}
.homeNavbar .user .basket .basketempty .basketfull button {
  background-color: #e65d25;
  color: #FFF;
}
@media (max-width: 575.98px) {
  .homeNavbar .user {
    justify-content: center;
  }
}
@media (max-width: 767.98px) {
  .homeNavbar .user {
    justify-content: center;
  }
}

/* end section navbar */
/* start section header */
.drugssheader {
  background-color: #f5f5f5;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* end section header */
/* start section info */
.info {
  margin-top: 50px;
  margin-bottom: 50px;
}
.info .orderprescription, .info .reorderprescription, .info .medicalreminder {
  box-shadow: 0px 1px 6px #0000001a;
  border-radius: 5px;
  margin-bottom: 20px;
}
@media (max-width: 575.98px) {
  .info .orderprescription img, .info .reorderprescription img, .info .medicalreminder img {
    width: 100%;
  }
}
.info .orderprescription .title, .info .reorderprescription .title, .info .medicalreminder .title {
  padding: 15px;
}

/* end section info */
/* start section drugs */
.drugs .sidebar .doctorscategories ul {
  border: 2px solid #e65d25;
  border-radius: 20px;
  padding-left: 0px;
  list-style: none;
}
.drugs .sidebar .doctorscategories ul li {
  border-bottom: 1px solid #DDD;
  padding: 20px;
  cursor: pointer;
}
.drugs .sidebar .doctorscategories ul li:last-of-type {
  border-bottom: none;
}
.drugs .sidebar .doctorscategories ul li p:first-of-type {
  float: left;
}
.drugs .sidebar .doctorscategories ul li p:last-of-type {
  text-align: right;
}
.drugs .sidebar .fillter p span {
  color: #e65d25;
}
.drugs .sidebar .averagerating .form-group {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}
.drugs .sidebar .averagerating .form-group input[type="checkbox"] {
  height: 30px;
  width: 30px;
}
.drugs .sidebar .averagerating .form-group .star i {
  color: #f5f5f5;
}
.drugs .sidebar .averagerating .form-group .star i.active {
  color: #fcce35;
}
.drugs .drugscontent .sorting {
  text-align: right;
}
.drugs .drugscontent .sorting select {
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.drugs .drugscontent .product {
  border: 1px solid #f5f5f5;
  padding: 20px;
  margin-bottom: 30px;
}
.drugs .drugscontent .product .title {
  color: #ACACAC;
}
.drugs .drugscontent .product .desc {
  color: #434343;
}
.drugs .drugscontent .product hr {
  border-top-color: #f5f5f5;
}
.drugs .drugscontent .product .content {
  display: flex;
  justify-content: space-between;
}
.drugs .drugscontent .product .content .review .star {
  margin-bottom: 5px;
}
.drugs .drugscontent .product .content .review .star i {
  color: #fcce35;
}
.drugs .drugscontent .product .content .review .salary {
  color: #e65d25;
}
.drugs .drugscontent .product .content .review .salary p span {
  font-weight: bold;
  margin-left: 20px;
}
.drugs .drugscontent .product .content .cart div {
  border: 1px solid #f5f5f5;
  padding: 5px;
  cursor: pointer;
}
.drugs .drugscontent .controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.drugs .drugscontent .controls .pagination {
  display: flex;
}
.drugs .drugscontent .controls .pagination ul {
  display: flex;
}
.drugs .drugscontent .controls .pagination ul li {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f5f5f5;
  text-align: center;
  line-height: 50px;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.drugs .drugscontent .controls .pagination ul li.active {
  background-color: #e65d25;
  color: #FFF;
}
.drugs .drugscontent .controls .pagination ul li:hover {
  background-color: #e65d25;
  color: #FFF;
}
.drugs .drugscontent .controls .pagination ul li:first-of-type {
  margin-left: 0;
}

/* end section doctors */
/* start section footer */
.footer {
  background-color: #efedf2;
  padding-bottom: 50px;
  padding-top: 50px;
}
.footer .brands {
  padding-bottom: 50px;
}
.footer hr {
  border-top-color: #DDD;
  border-top-width: 2px;
}
.footer .ultmateFooter {
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer .ultmateFooter .about-us p {
  color: #505050;
}
.footer .ultmateFooter .categories ul {
  padding-left: 20px;
}
.footer .ultmateFooter .categories ul li {
  color: #666;
  line-height: 2;
  cursor: pointer;
}
.footer .ultmateFooter .account ul {
  padding-left: 20px;
}
.footer .ultmateFooter .account ul li {
  color: #666;
  line-height: 2;
  cursor: pointer;
}
.footer .ultmateFooter .quickLinks ul {
  padding-left: 20px;
}
.footer .ultmateFooter .quickLinks ul li {
  color: #666;
  line-height: 2;
  cursor: pointer;
}
.footer .social {
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer .social .icon i {
  padding-right: 20px;
}
.footer .social .icon i:last-of-type {
  padding-right: 0px;
}
.footer .social .links ul {
  text-align: right;
}
.footer .social .links ul li {
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}
.footer .social .links ul li:after {
  content: "|";
  padding-left: 7px;
}
.footer .social .links ul li:last-of-type:after {
  content: "";
  padding-left: 0;
}
.footer .copyright {
  padding-top: 50px;
}

@media (max-width: 575.98px) {
  .footer {
    text-align: center;
  }
  .footer .brands .image {
    margin-bottom: 20px;
  }
  .footer ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    text-align: center;
  }
  .footer .social .links {
    margin-top: 20px;
  }
  .footer .social .links ul {
    text-align: center;
  }
  .footer .social .links ul li {
    display: block;
  }
  .footer .social .links ul li:after {
    content: "";
  }
}
@media (max-width: 767.98px) {
  .footer {
    text-align: center;
  }
  .footer .brands .image {
    margin-bottom: 20px;
  }
  .footer ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    text-align: center;
  }
  .footer .social .links {
    margin-top: 20px;
  }
  .footer .social .links ul {
    text-align: center;
  }
  .footer .social .links ul li {
    display: block;
  }
  .footer .social .links ul li:after {
    content: "";
  }
}
@media (max-width: 991.98px) {
  .footer {
    text-align: center;
  }
  .footer .brands .image {
    margin-bottom: 20px;
  }
}
/* end section footer */

/*# sourceMappingURL=drugs.css.map */
